.move-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 4px 16px;
    max-height: 700px;
    overflow-y: auto;
    font: 12px monospace;
}

.move-list .buttons {
    display: flex;
    flex-direction: row;
}

.move-list .buttons button {
    flex: 1;
    padding: 4px 8px;
}

.move-list table {
    border-spacing: 0;
}
.move-list td,
.move-list th {
    padding: 2px 4px;
}

.move-list th {
    color: #808080;
    font-weight: normal;
}

.move-list tr:nth-child(odd)  { background: #e0e0e0; }
.move-list tr:nth-child(even) { background: #f0f0f0; }
.move-list tr.selectable:hover:nth-child(odd):not(.selected)  { background: #ffffc0; }
.move-list tr.selectable:hover:nth-child(even):not(.selected) { background: #ffffe0; }
.move-list tr.selectable {
    cursor: pointer;
}

.move-list tr.redoable {
    color: #d0d0d0;
}

.move-list tr.redoable:nth-child(odd) {
    background: #404040;
}

.move-list tr.redoable:nth-child(even) {
    background: #303030;
}

.move-list tr.selected {
    background: #ffff00;
}
