.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 16px sans-serif;
}

.game-with-move-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game-with-status {
    display: flex;
    flex-direction: column;
}
