.back-to-index {
    padding-top: 32px;
    font: 16px sans-serif;
    text-align: center;
}

.page {
    font: 16px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-with-move-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game-with-status {
    display: flex;
    flex-direction: column;
}
